{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <style>
    .title {
      color: rgb(32, 75, 145);
      padding: 20px;
    }

    .title h1 {
      font-size: 30px;
    }
     

    body {
      overflow-y: auto;
    }
  </style>
</head>
<body>
  <div class="title">
    <h1>Password change</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly</p>
  </div>
  <div class="container">
    <form action="" method="post">
      {% csrf_token %}
      {% for i in form %}
         <div class="label">
          {{i.label}}
         </div>
         <div class="input">
          {{i}}
         </div>
         <div class="help">
          {{i.help_text}}
         </div>
         {% endfor %}
      <input type="submit" value="Change password">
    </form>
  </div>
</body>
</html>